<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.macalester.DailyFeast"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="12"/>

    <application
            android:label="Daily Feast"
            android:icon="@drawable/dailyfeastlogo"
            android:debuggable="true"
            android:theme="@style/MasonFinalTheme">

        <activity android:name="com.macalester.DailyFeast.SplashScreenActivity"

                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.macalester.DailyFeast.StartUpActivity"
                  >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashScreenActivity"/>
                  </activity>

        <activity android:name="com.macalester.DailyFeast.TodaysEventsActivity"
                  android:label="@string/todays_events_name"
                  android:parentActivityName="com.macalester.DailyFeast.StartUpActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".StartUpActivity"/>
        </activity>
        <activity android:name="com.macalester.DailyFeast.SpecificEventActivity"
                  android:label="@string/specific_events_name"
                  android:parentActivityName="com.macalester.DailyFeast.TodaysEventsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".TodaysEventsActivity"/>
        </activity>

        <activity android:name="com.macalester.DailyFeast.CreateNewEventActivity"
                  android:label = "@string/create_new_event_name"
                  android:parentActivityName="com.macalester.DailyFeast.StartUpActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".StartUpActivity"/>
        </activity>
    </application>

    <uses-permission android:name ="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>
